* {
    margin: 0;
    font-size: 16px;
}

.wrapper {
    background: #ffffff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    background: #eeeeee;
    border-radius: 8px;
    position: relative;
}

.ui {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border: none;
    padding: 10px 30px;
    border-radius: 26px;
    background: #dddddd;
    margin-left: 10px;
    color: #ffffff;
}

button:hover {
    background: #cccccc;
}

.active {
    background: #ee5c5c;
    color: #ffffff;
}

.active:hover {
    background: #f57272;
}

label {
    padding-left: 50px;
    padding-right: 6px;
}

#caption {
    position: absolute;
    top: 39vh;
    left: 36%;
    font-size: 7em;
    color: #ffffff;
    display: none;
}