* {
    margin: 0;
    font-size: 16px;
}

.wrapper {
    background: #ffffff;
    min-height: 100vh;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    width: 850px;
    margin: 38px auto;
}

h1 {
    font-size: 1.6em;
}

.canvasWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    background: #eeeeee;
    border-radius: 8px;
    position: relative;
    margin: auto;
}

.ui {
    margin: 35px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border: none;
    padding: 10px 30px;
    border-radius: 26px;
    background: #dddddd;
    margin-left: 10px;
    color: #ffffff;
}

button:hover {
    background: #cccccc;
}

.active {
    background: #ee5c5c;
    color: #ffffff;
}

.active:hover {
    background: #f57272;
}

label {
    padding-left: 50px;
    padding-right: 6px;
}

#caption {
    position: absolute;
    top: 39vh;
    left: 37%;
    font-size: 8em;
    color: #ffffff;
    display: none;
}